body{
    margin: 0;
    padding: 0;
    background-color: brown;
}

header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: white;
}

header img{
    object-fit: cover;
    object-position: 30% 0;
    width: 100px;
    height: 50px;
    overflow: hidden;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul a{
    color: brown;
    text-decoration: none;
}

li{
    margin: 10px;
    display: inline;
}

h1{
    color: cornsilk;
    font-weight: 700;
    text-align: center;
    font-family: cursive;
}

.cards{
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 


.card{
    background-color: cornsilk;
    padding: 10px;
    border-radius: 5%;
    display: flex;
    width: 300px;
    flex-direction: column;
    box-shadow: 0 10px 20px 10px rgb(94, 22, 22);
}

.card img{
    height: 250px;
    width: 300px;
    object-fit: cover;
}

.table{
    background-color: cornsilk;
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table h1{
    font-weight: 700;
    font-size: 32;
    color: brown;
}

.headt{
    background-color: brown;
    font-weight: 700;
    font-size: 32;
    color: cornsilk;
    font-family: monospace;
    border: 1px solid cornsilk;
}

table{
    padding-bottom: 20px;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    border: brown;
    border-width: thick;
}

th, td {
    color: brown;
    padding: 8px;
    text-align: center;
    font-family: monospace;
    border-bottom: 1px solid brown;
  }

.headt td{
    color: cornsilk;
}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    font-family: sans-serif;
}

.contact{
    margin: 0;
    padding: 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: right;
}

.contact p{
    margin: 10px 30px;
}

footer h1{
    border-bottom: 3px dashed cornsilk;
    margin: 3px auto;
}

footer .contact img{
    width: auto;
    height: auto;
}

h6{
    font-family: helvetica;
}